//importar archivos secundarios de SASS

@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/*estilos de la HTML index*/

.header-home{
    background-color: $color-principal;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 9rem;
    
    .header-style{
        @include flex;
    }

    .logo-style{
        margin: 1rem;
        margin-top: 1rem;
        
    }

    h1 {
        @include h1-style;
    
    }
    .nav-color{
        background-color:$color-fontsec;
    

    .a-color{
        color: $color-fontprin;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1,5rem;
        text-align: center;

    }
    }
    
}

/*media queri de celular*/

.main-home{
    @include basic-pages;
    
.img-fixed{
    position: fixed;
    bottom: 0;
    right: 0;
 }

.fondo-style{
    @include fondo-h2;
    
}

.h2-style{
    @include h2;
}

.ver-mas{
    text-decoration: none;
    color: $color-fontsec;
    font-size: 1rem;
}

.ofertas-unicas{
@include home-phone


    
}

.ofertas-unicas div .img1, .img2, .img7{
    margin-top: 1rem;
    
}


.skate-shop{
    .img4, .img5, .im6{
        margin-top: 1rem;
    }
}

.skate-shop{
    @include home-phone
}
    
}


/*media queri de tablet*/

.main-home{
    @media screen and (min-width:600px) {
        background-color: $color-terciario;
        
        .main-home{
            margin-top: 8.5rem;
        text-align: center;
        width: 100%;
        height: 30vh;
        }

    .img7{
        display: block;
    }

    .ofertas-unicas{
        @include home-tablet

    }
    
    .skate-shop{
        @include home-tablet
    }
    
    }
}

/*media queri de desktop*/

.main-home{
    @media screen and (min-width:1024px) {
        background-color: $color-terciario;
        
    
    .main-home{
        
            margin-top: 8.5rem;
        text-align: center;
        width: 100%;
        
    }
}


}

.footer-home{
    background-color: $color-principal;
    text-align: center;
    height: 6rem;
    @include footer-flex;
    

}