//Estilos con Variables

//Paleta de colores
$color-principal: rgb(109, 12, 12);
$color-secundario: rgb(0, 0, 0);
$color-terciario: rgb(255, 255, 255);
$color-extra: rgb(128, 128, 128);

//Paletas de colores Font
$color-fontprin: whitesmoke;
$color-fontsec: rgb(0, 0, 0);